@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url(./../src/Fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: Roboto-Bold; /* Имя шрифта */
  src: url(./../src/Fonts/Roboto-Bold.ttf); /* Путь к файлу со шрифтом */
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
